header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

header {
    background: url(images/sunset.jpg) no-repeat right;
    background-color: #000033;
    color: #FFFFFF;
    margin-bottom: 0px;

}

body {
    color:#666666;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    background-image: url(images/ptrbackground.jpg);

}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    background-color: white;
    box-shadow: 5px 5px 5px 3px #000033;
    background-color: #90C7E3;
}

nav {
    float: left;
    width: 160px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;

}
nav a:link {
    color: #000033;
}
nav a:visited {
    color: #344873;
}
nav a:hover {
    color: #FFFFFF;
}
nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#content {
    margin-left: 190px;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    
}
    
#content img {
    float: left;
    padding-right: 20px;
}
#content ul{
    list-style-image: url(images/marker.gif);
    
}

h1 {
    font-family: Georgia,Times,"Times New Roman",serif ;   
    margin-bottom: 0px;
    padding: 10px;
    
}
h2 {
    color: #3399CC;
    font-family: Georgia,Times,"Times New Roman",serif;
    text-shadow: 1px 1px #666666;

}

h3 {
    color: #000033;
    font-family: Georgia,Times,"Times New Roman",serif;
}

ul {
    list-style-position: inside;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

#placeholder {
    position: absolute;
    top: 15px;
    left: 320px;
    opacity: .25;
}

#gallery {
    position: relative;
    height: 200px;
}

#gallery img {
    float: none;
    padding: 0px;
    border-style: none;
}
#gallery ul{
    width: 250px;
    list-style-type: none;
}
#gallery li{
    display: inline;
    float: left;
    padding: 10px;
}
#gallery span {
    display: none;   
}
#gallery a {
    text-decoration: none;
    color: #666666;
    font-style: italic;
}
#gallery a:hover span{
    display: block;
    position: absolute;
    top: 15px;
    left: 320px;
    text-align: center;
    
}


#contact {
    font-size: 90%;
    overflow: hidden;
    
}

footer {
    margin-left: 190px;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 75%;
    font-style: italic;
    padding: 20px;
    float: none;
    background-color: #FFFFFF;
    
}
.desktop {
    display: inline;
}
.mobile {
    display: none;
}


@media only screen and (max-width: 768px) {
    
body {
    margin: 0px;
}
#content {
    margin-left: 0px;

}
footer {
    margin-left: 0px;
}
nav {
    padding: 0px;
    width: auto;
    float: none;
}
nav ul {
    padding-left: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
nav li {
    display: inline;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
#wrapper {
    min-width: 0px;
    width: auto;
    box-shadow: none;
}
    
}
@media only screen and (max-width: 550px) {
#gallery {
    display: none;
    
}
}
@media only screen and (max-width: 480px) {
#content {
    padding-top: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    font-size: 90%;
}
nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    display: block;
    margin: 0px;
    padding: 0.3em;
    border-bottom: 2px ridge;
    border-bottom-color: #330000;
}
nav a {
    display: block;
}
#content img {
    float: none;
    padding: 0px;
    margin: 0.1em;
}
ul {
    list-style-position: outside;   
}
    
h1 {
        padding-left: 0.3em;
        margin: 0px;
        font-size: 1.5em;
    }
.mobile {
    display: inline;   
}
.desktop {
    display: none;   
}
}